@model AppWeb.Areas.Cadastro.ViewModel.ProdutoGetViewModel

@{
    ViewData["Title"] = "Editar";
}

<h4 class="">Editar Produtos</h4>
<hr />
<div class="row">
    <div class="col-md-12" >
        <form id="formEditProdutos" asp-controller="Produtos" asp-action="Editar" class="submit-press-enter" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-2 margin-top-md">
                    <label asp-for="Id" class="control-label">
                        @Html.DisplayNameFor(model => model.Id)
                    </label>
                    <input id="Id" name="Id" asp-for="Id" class="form-control" value="@Model.Id" readonly />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="col-md-4 margin-top-md">
                    <label asp-for="Nome" class="control-label">
                        @Html.DisplayNameFor(model => model.Nome)
                    </label>
                    <input id="Nome" name="Nome" asp-for="Nome" class="form-control inputUpper" value="@Model.Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="col-md-3 margin-top-md">
                    <label asp-for="Preco" class="control-label">
                        @Html.DisplayNameFor(model => model.Preco)
                    </label>
                    <input id="Preco" name="Preco" asp-for="Preco" class="form-control" value="@Model.Preco" />
                    <span asp-validation-for="Preco" class="text-danger"></span>
                </div>
                <select id="PromocaoID" name="PromocaoID" asp-items="@ViewBag.ListaPromocoes"></select>
            </div>
            <br><br><br>
        </form>
    </div>
</div>
<hr />
<div class="row">

    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-outline-danger padraoButtonDuzentos" onclick="FecharModal()">
            <span><i class="fas fa-ban"></i></span> Cancelar
        </button>
        <button type="button" class="btn btn-outline-info padraoButtonDuzentos" onclick="AtualizarProduto('formEditProdutos')">
            <span><i class="fas fa-save"></i></span> Salvar
        </button>
        
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
