@model IEnumerable<AppWeb.Areas.Cadastro.ViewModel.ProdutoGetViewModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-2">
        <h3>
            Produtos
        </h3>
    </div>
    <div class="col-8">
    </div>
    <div class="col-2">
        @Html.ActionLink("Atualizar Lista", "listar", "produtos", new { Area = "cadastros" }, new { @id = "atualizarListaAdm", @class = "btn btn-outline-success padraoButtonPerc" })
    </div>
</div>
<br>
<br>


@Html.AntiForgeryToken()
<table class="table .table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Promocao.Descricao)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr scope="row">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Promocao.Descricao)
                </td>
                <td>
                    <span onclick="BuscarProduto('@item.Id')" data-toggle="tooltip" data-placement="right" title="Editar este Produto">
                        <i class="fas fa-edit text-info cursorLink"></i>
                    </span>
                    <span onclick="ExcluirProduto('@item.Id')" data-toggle="tooltip" data-placement="right" title="Excluir este Produto">
                        <i class="fas fa-trash-alt text-danger cursorLink"></i>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="~/js/Areas/Admin/Index.js"></script>
<script type="text/javascript" src="~/js/Areas/Cadastros/Produtos/Index.js"></script>
